/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar */
.my-green-snackbar {
    color: white;
    background-color: green;
}

.my-green-snackbar span {
    color: white;
}